body {
    margin: 0;
    font-family: monospace;
  }
  
  #app-header {
    display: flex;
    justify-content: center;
    background: #d59dec;
    opacity: 1;
    height: 7rem;
    padding: 1rem;
  }
  
  #app-header img {
    height: 6rem;
    width: auto;
  }
  
  #contact-collection {
    margin: 2rem;
  }
  
  .contact-card {
    text-align: center;
    background-color: #d59dec;
    border: #2e01ac solid 3px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 10px;
    
  }
  
  .contact-picture {
    justify-self: center;
    height: 16rem;
    width: auto;
  }
  
  button {
    position: relative;
    background-color: #2e01ac;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: #00c0c0;
    font-size: 14px;
    justify-self: center;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #2e01ac solid 1px;
    color: #2e01ac;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #d59dec;
    opacity: 1;
  }
  
  .add-friend-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: #2e01ac;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: #00c0c0;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #2e01ac solid 1px;
    color: #2e01ac;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }
  
  .toggle-mode-button {
    position: relative;
  }
  
  body.light-mode {
    background-color: white;
    color: black;
  }

  body.dark-mode {
    background-color: #110d0b;
    color: white;
  }